.DS_Store

#/config/database.php

app/cache/*
!app/cache/index.html

app/logs/*
!app/logs/index.html

!app/*/.htaccess

composer.lock
app/config_old/

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

/raw

# IDE Files
#-------------------------
/nbproject/
.idea/*
.phpintel/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/nbproject/
uploads/*

templates/admin_themes/admin/css/apps
templates/admin_themes/admin/css/custom
templates/admin_themes/admin/css/global
templates/admin_themes/admin/css/layouts
templates/admin_themes/admin/css/pages
templates/admin_themes/admin/js/apps
templates/admin_themes/admin/js/custom
templates/admin_themes/admin/js/global
templates/admin_themes/admin/js/layouts
templates/admin_themes/admin/js/pages
templates/admin_themes/admin/js/googleapis
templates/admin_themes/admin/css/googleapis
templates/admin_themes/admin/css/plugins

.idea/*
logs/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

##visual studio files
.vscode

#raw image files
/raw
