Order Allow,Deny
Allow from all

<Files ~ "\\.(env|config|yml|yaml)$">
Order Allow,Deny
Deny from all
</Files>

	# Make sure directory listing is disabled
	Options +SymLinksIfOwnerMatch -Indexes
	ErrorDocument 400 /index.php
	ErrorDocument 403 /index.php
	ErrorDocument 500 /index.php
	ErrorDocument 503 /index.php
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
	Header Set Access-Control-Allow-Origin "*"
	Header Set Access-Control-Allow-Methods "POST, GET, OPTIONS, PATCH, DELETE"
	Header Set Access-Control-Allow-Headers: "Authorization,Content-Type"
	
	RewriteRule ^(.*)$ index.php/$1 [L]

	
	RewriteRule ^(.*)$ index.php?/$1 [L]

