<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>
            <?php
                if($this->notifications_count):
                    echo '('.$this->notifications_count.')';
                endif;
            ?>
            {group:template:title}
        </title>
        <meta name="description" content="Latest updates and statistic charts"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        {group:theme:js file="webfonts/webfont-1-6-16.js"}
        {group:theme:css file="materialdesignicons/materialdesignicons.min.css?v=3.8.95"}

        <script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
          var passphrase = '<?php echo $this->session->userdata("pass_key");?>';
          var default_country_code = <?php  echo (strlen($this->default_country_code) > 0)?"'".strtolower($this->default_country_code)."'":"'ke'";?>;
        </script>
        {group:theme:js file="jquery.js"}
        {group:theme:css file="vendors/custom/fullcalendar/fullcalendar.bundle.css"}
        {group:theme:css file="vendors/custom/datatables/datatables.bundle.css"}
        {group:theme:css file="vendors/custom/datatables/bootstrap-editable.css"}
        {group:theme:css file="vendors/base/vendors.bundle.css"}
        {group:theme:css file="demo/default/base/style.bundle.css"}
        {group:theme:css file="demo/demo11/base/style.bundle.css"}

        <?php if(strtolower($this->application_settings->application_name) == 'chamasoft') { ?>
          {group:theme:css file="./custom/chamasoft_theme.css?v=1.0.3"}
        <?php } elseif(strtolower($this->application_settings->application_name) == 'websacco'){ ?>
          {group:theme:css file="./custom/websacco_theme.css?v=1.0.3"}
        <?php } else{ ?>
            {group:theme:css file="./custom/websacco_theme.css?v=1.0.3"}
        <?php } ?>


        {group:theme:css file="custom.css?v=1.0.5"}
        <link href="<?php echo $this->application_settings?site_url('uploads/logos/'.$this->application_settings->favicon):site_url('templates/img/favicon/favicon.png');?>" rel="shortcut icon" type="image/x-icon"/>
    </head>
    <body  class="m-content--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside--offcanvas-default"  >
        <?php
    if(ENVIRONMENT == 'development'){
        echo site_url();
    }
?>
