<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>
            {group:template:title}
        </title>
        <meta name="description" content="Latest updates and statistic charts"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
            var default_country_code = <?php  echo (strlen($this->default_country_code) > 0)?'"'.strtolower($this->default_country_code).'"':'"ke"';?>;
            var group = '';
            var group_offer_loans = '';
            <?php if($this->group){?>
                group = <?php echo json_encode(array(
                            'id' => $this->group->id,
                            'group_setup_position' => $this->group->group_setup_position??'',
                            'group_setup_status' => $this->group->group_setup_status??'',
                            'group_offer_loans' => $this->group->group_offer_loans??'',
                        ));?>;

                group_offer_loans = '<?php echo $this->group->group_offer_loans;?>';
            <?php }?>
            var base_url = window.location.origin;
        </script>
        <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
        <!--{group:theme:js file="jquery-1.11.3.js"}-->
        {group:theme:js file="jquery.js"}
        {group:theme:css file="vendors/custom/fullcalendar/fullcalendar.bundle.css"}
        {group:theme:css file="vendors/custom/datatables/datatables.bundle.css"}
        {group:theme:css file="vendors/base/vendors.bundle.css"}
        {group:theme:css file="demo/default/base/style.bundle.css"}
        {group:theme:css file="demo/demo11/base/style.bundle.css"}
        <?php if(strtolower($this->application_settings->application_name) == 'chamasoft') { ?>
          {group:theme:css file="./custom/chamasoft_theme.css?v=1.0.3"}
        <?php } elseif(strtolower($this->application_settings->application_name) == 'websacco'){ ?>
          {group:theme:css file="./custom/websacco_theme.css?v=1.0.3"}
        <?php } else{ ?>
            {group:theme:css file="./custom/websacco_theme.css?v=1.0.3"}
        <?php } ?>

        {group:theme:css file="custom.css?v=1.0.3"}
        <link href="<?php echo $this->application_settings?site_url('uploads/logos/'.$this->application_settings->favicon):site_url('templates/img/favicon/favicon.png');?>" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body  class="setup_tasks m-content--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside--offcanvas-default setup_bg" >