         </div>
         <footer class="m-grid__item		m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
               <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                  <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                     <span class="m-footer__copyright">
                     <?php echo date('Y');?> &copy; <?php echo $this->application_settings->application_name;?> 
                     </span>
                  </div>
                  <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                     <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                     </ul>
                  </div>
               </div>
            </div>
         </footer>
      </div>
     
      <div id="m_scroll_top" class="m-scroll-top">
         <i class="la la-arrow-up"></i>
      </div>
    <!--   <ul class="m-nav-sticky" style="margin-top: 30px;">
         <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Get help & FAQs" data-placement="left">
            <a href="https://help.chamasoft.com/" target="_blank"><i class="mdi mdi-account-switch"></i></a>
         </li>
         <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Schedule a meeting" data-placement="left">
            <a href="https://calendly.com/chamasoft-meetings/support-meeting" target="_blank"><i class="mdi mdi-calendar-clock"></i></a>
         </li>
         <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Group settings" data-placement="left">
            <a href="<?php echo site_url('group/settings')?>" target=""><i class="mdi mdi-settings-outline"></i></a>
         </li>
      </ul> -->
      <!-- {group:theme:js file="custom/custom.js"} -->
      {group:theme:js file="vendors/base/vendors.bundle.js"}
      {group:theme:js file="demo/demo11/base/scripts.bundle.js"}
      {group:theme:js file="vendors/custom/fullcalendar/fullcalendar.bundle.js"}
      {group:theme:js file="app/js/dashboard.js"} 
      {group:theme:js file="vendors/custom/datatables/datatables.bundle.js"}
      {group:theme:js file="custom/custom.js"}
      {group:theme:js file="custom/bootbox.min.js"}
      {group:theme:js file="responsive_tabs.js"}
      {group:theme:js file="vendors/custom/datatables/bootstrap-editable.js"}
      <script type="text/javascript">
         $(document).ready(function () {
            modifyGroupSettings();


            $('#m_quick_sidebar .m-select2').select2({
               placeholder:{
                   id: '-1',
                   text: "--Select option--",
               }, 
            });
            if($('.email-statements-checkbox').prop('checked')){
               $('.email-statements-config').slideDown();
            }else{
               $('.email-statements-config').slideUp();
            }

            $(document).on('change','.email-statements-checkbox',function(){
               if($(this).prop('checked')){
                  $('.email-statements-config').slideDown();
               }else{
                  $('.email-statements-config').slideUp();
               }
            });

            $(function() {
               $('.page_title_cust_navs.nav-tabs').responsiveTabs();
            });

            // Select2.init(".m-select2");
            //Select2.init();
           $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' ,autoclose: true});
           $('.m-form').attr('autocomplete',"off");

            //initialize select2 on any modal open
            $(window).on('shown.bs.modal', function() { 
               $(".modal .m-select2").select2({
                  placeholder:{
                      id: '-1',
                      text: "--Select option--",
                  }, 
                  width: "100%"
              });
            });

            $(window).on('hidden.bs.modal', function(e) {
               $(e.target.id).find('.error').html('').slideUp();
               RemoveDangerClass($(e.target.id));
            });

            BootstrapSwitch.init();
            FormInputMask.init();
            $('.datatable').DataTable({});
            $('.scrollable-datatable').DataTable({
               scrollY: "50vh",
               scrollX: !0,
               scrollCollapse: !0,
            });
            Inputmask.init();
            Datepicker.init();
            $(document).on('keyup','.slug_parent',function(){ 
               txt = $(this).val();
               var re = /\W/gi; 
               var rew = /\s/gi; 
               txt2=txt.replace(rew,'-');
               txt2=txt2.replace(re,'-');
               $('input[name=slug]').each(function(){
                   $(this).val(txt2.toLowerCase());
               });
            });

            $(document).on('blur','.slug_parent',function(){ 
               txt = $(this).val();
               var re = /\W/gi; 
               var rew = /\s/gi; 
               txt2=txt.replace(rew,'-');
               txt2=txt2.replace(re,'-');
               $('input[name=slug]').each(function(){
                   $(this).val(txt2.toLowerCase());
               });
            });

            $(document).on('keyup','input.currency',function(){
               TotalAmount.init();
            });

            $(document).on('blur','input.currency',function(){
               TotalAmount.init();
            });
           
            TotalAmount.init();

            $(document).on('click','.check_all',function(){
               if($(this).prop("checked") == true){
                   $('.checkboxes').parent().addClass('checked');
                   $( ".checkboxes" ).prop( "checked", true );
               }else if($(this).prop("checked") == false){
                   $('.checkboxes').parent().removeClass('checked');
                   $( ".checkboxes" ).prop( "checked", false );
               }
            }); 

            $(document).ready(function(){
               $(document).on('click','.cancel_form',function(){
                  refer = '<?php echo $this->agent->referrer();?>';
                  if(refer){
                     window.location.href = refer;
                  }
               });
            });

            $(document).ready(function(){
                  $(document).on('click','.btn.dropdown-toggle',function(){
                      var btnme = $(this).parent();
                      if(btnme.hasClass('open')){
                          $(btnme).removeClass('open');
                      }else{
                          $(btnme).addClass('open');
                      }
                  });
                  var check_status = '<?php echo $this->input->get("filter");?>';

                  $('.submit_form_button').show();
                  $('.processing').hide();


                  $('.close-filter').click(function(e){
                      $(this).parent().parent().parent().parent().find('.search-button').removeClass('open');
                      var check_status = '<?php echo $this->input->get("filter");?>';
                      if(check_status)
                      {
                          $('.submit_form_button,.close-filter').hide()
                          $('.processing').show();
                          window.location.replace('<?php echo current_url();?>');
                      }
                      else
                      {
                         $('.search-button').removeClass('open');
                      }
                      e.stopPropagation();
                  });
                  $('form.filter').submit(function(e){
                      $('.submit_form_button,.close-filter').hide()
                      $('.processing').show();
                  });

                  function formatSettings(repo) {
                      if (repo.loading) return repo.text;
                      
                      var markup = "<div class='select2-result-repository clearfix'>" +
                          "<div class='select2-result-repository__avatar' style='padding:10px;'><span style='font-size:35px;' class='"+repo.icon+"'></span></div>" +
                          "<div class='select2-result-repository__meta'>" +
                          "<div class='select2-result-repository__title'>" + repo.name + "</div>"+
                          "<div class='select2-result-repository__statistics'>"+repo.description+"</div>"+
                          "<div class='select2-result-repository__statistics'></div>";

                          markup += "<div class='select2-result-repository__statistics'>" +
                          "</div>" +
                          "</div></div>";

                      if (repo.description) {
                          //markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                      }
                      var status = "";
                      if(repo.name==1){
                          status = "<span class='label label-success'>Subscribed</label>";
                      }else if(repo.name==2){
                          status = "<span class='label label-danger'>Suspended</label>";
                      }else{
                          if(repo.name>0){
                              status = "<span class='label label-info'>On Trial</label> <span class=''> "+repo.name+" Day(s) Left</label> ";
                          }else{
                              status = "<span class='label label-warning'>Trial Expired</label>";
                          }
                      }

                      markup += "<div class='select2-result-repository__statistics'>" +
                          "" +
                          "" +
                          "</div>" +
                          "</div></div>";

                      return markup;
                  }

                  function formatSettingsSelection(repo) {
                      return repo.name || repo.text;
                  }
              
                  $(".settings-search").select2({            
                      ajax: {
                          //url: "https://api.github.com/search/repositories",
                          url: '<?php echo site_url("group/settings_menus/ajax_search_options"); ?>',
                          dataType: 'json',
                          delay: 250,
                          data: function(params) {
                              return {
                                  q: params.term, // search term
                                  page: params.page
                              };
                          },
                          processResults: function(data, page) {
                              // parse the results into the format expected by Select2.
                              // since we are using custom formatting functions we do not need to
                              // alter the remote JSON data

                              return {
                                  results: data.items
                              };
                          },
                          cache: true
                      },
                      escapeMarkup: function(markup) {
                          return markup;
                      }, // let our custom formatter work
                      minimumInputLength: 1,
                      templateResult: formatSettings,
                      templateSelection: formatSettingsSelection
                  });
                  
                  $('#settings_search').change(function(){
                      var url = $(this).val();
                      window.location = "../"+url;
                  });

              });

          $(document).on('click','.prompt_password_confirmation_message_link',function(){
            var element = $(this);
            bootbox.prompt({
                title: $(this).attr('data-title'),
                inputType: 'password',
                callback: function (result) {
                    if (result === null) {
                        return true;
                    } else {
                        var href = element.attr('href');
                        window.location = href+'?confirmation_code='+result;
                    }
                }
            });
            return false;
          });
         });

          var user_name = '<?php echo $this->user->first_name." ".$this->user->last_name;?>';
          var phone = '<?php echo $this->user->phone;?>';
          var Email = '<?php echo $this->user->email;?>';
        //   window.$crisp=[];window.CRISP_WEBSITE_ID="c5270f37-0b-4d2d-a591-66750519833e";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);
        //        $crisp.push(["set", "session:data", [[["Name",""+user_name+""],["Phone",""+phone+""],["Email",""+Email+""] ]]]);
        //   })();
      </script>
   </body>
   <!-- end::Body -->
</html>
