<meta name="description" content="<?php echo $this->application_settings->application_name; ?> is a platform that will provide your sacco, your digital lending business or your microfinance with all the tools you need to run a profitable and digitally aware enterprise.">
<meta name="keywords" content="<?php echo $this->application_settings->application_name; ?>">
<!-- {group:theme:favicon file="images/favicon.png"} -->
<link rel="apple-touch-icon" href="{group:url:base}{group:theme:path}images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{group:url:base}{group:theme:path}images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{group:url:base}{group:theme:path}images/apple-touch-icon-114x114.png">
<!-- <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.4.93/css/materialdesignicons.min.css"> -->