{group:theme:partial name="setup_header"}
{group:theme:partial name="setup_top"}                    
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content setup_container container">
      <div class="row d-none">
         <div class="col-md-12">
            <div class="m-subheader p-0 mb-4">
               <div class="d-flex align-items-center">
                  <div class="mr-auto sg_page_title">
                     <h3 class="m-subheader__title"><?php echo translate('Group Setup');?></h3><br>
                     <small>Complete all the steps to continue</small>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Begin::Main Portlet-->
      <div class="m-portlet m-portlet--full-height sg_shell">
         <!--begin: Portlet Head-->
         <div class="m-portlet__head d-none">
            <div class="m-portlet__head-caption">
               <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                     <?php echo translate('Group Setup Wizard');?>
                  </h3>
               </div>
            </div>
            <div class="m-portlet__head-tools">
               <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                     <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
                     <i class="flaticon-info m--icon-font-size-lg3"></i>
                     </a>    
                  </li>
               </ul>
            </div>
         </div>
         <!--end: Portlet Head-->
         <!--begin: Portlet Body-->
         <div class="m-portlet__body m-portlet__body--no-padding">
            <!--begin: Form Wizard-->
            <div class="m-wizard m-wizard--4 m-wizard--brand" id="m_wizard">
               <div class="row m-row--no-padding">
                  <div class="col-xl-3 col-lg-12 m--padding-top-20 m--padding-bottom-15">
                     <!--begin: Form Wizard Head -->
                     <div class="m-wizard__head">
                        <!--begin: Form Wizard Nav -->
                        <div class="m-wizard__nav">
                           <div class="m-wizard__steps">
                              <div class="m-wizard__step m-wizard__step--done" m-wizard-target="m_wizard_form_step_1">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number disabled">							 
                                    <span><span>1</span></span>							 
                                    </a>										 
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Group Setup');?>										
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number ">							 
                                    <span><span>2</span></span>							 
                                    </a>										
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Add Members');?>
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_3">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number ">                     
                                    <a href="#" class="m-wizard__step-number ">							 
                                    <span><span>3</span></span>							 
                                    </a>										
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Contribution Setup');?>
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_4">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number ">                      
                                    <span><span>4</span></span>                      
                                    </a>                             
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Loan Types');?>
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_5">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number ">                      
                                    <span><span>5</span></span>                      
                                    </a>                             
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Bank Account Setup');?>
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                              <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_6">
                                 <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number ">							 
                                    <span><span>6</span></span>							 
                                    </a>										
                                    <div class="m-wizard__step-label">
                                       <?php echo translate('Confirmation');?>
                                    </div>
                                    <div class="m-wizard__step-icon"><i class="la la-check"></i></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--end: Form Wizard Nav -->
                     </div>
                     <!--end: Form Wizard Head -->					
                  </div>
                  <div class="col-xl-9 col-lg-12">
                     <!--begin: Form Wizard Form-->
                     <div class="m-wizard__form py-1 px-1">
                        <div class="m-form m-form--state-" id="m_form">
                           <!--begin: Form Body -->
                           {group:template:body}                
                           <!--begin: Form Actions -->
                           <div class="m-portlet__foot m--margin-top-0">
                              <div class="m-form__actions">
                                 <div class="row">
                                    <div class="col-lg-6 m--align-left">
                                       <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon btn-setup-previous" data-wizard-action="prev">
                                       <span>
                                       <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                       <span><?php echo translate('Back');?></span>
                                       </span>
                                       </a>
                                    </div>
                                    <div class="col-lg-6 m--align-right p-0">
                                       <a href="#" id="complete_group_setup" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                       <span>
                                       <i class="la la-check"></i>&nbsp;&nbsp;
                                       <span><?php echo translate('Submit');?></span>
                                       </span>
                                       </a>
                                       <a href="#" class="btn btn-primary m-btn--icon btn-setup-next" data-wizard-action="next">
                                       <span>
                                       <span><?php echo translate('Save');?> &amp; <?php echo translate('Continue');?></span>&nbsp;&nbsp;
                                       <i class="la la-arrow-right"></i>
                                       </span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--end: Form Actions -->
                        </div>
                     </div>
                     <!--end: Form Wizard Form-->
                  </div>
               </div>
            </div>
            <!--end: Form Wizard-->
         </div>
      </div>
   </div>
{group:theme:partial name="setup_footer"}